In [2]:
import numpy as np
import pandas as pd

In [9]:
df_train = pd.read_csv('../data/test/seg_0a0fbb.csv', dtype = {'acoustic_data': np.int16, 'time_to_failure': np.float64})

In [10]:
df_train.head()

   acoustic_data
0              3
1             -3
2             -1
3              6
4              8

In [11]:
df_train.describe()

       acoustic_data
count  150000.000000
mean        4.071920
std         3.752697
min       -63.000000
25%         2.000000
50%         4.000000
75%         6.000000
max        92.000000