In [1]:
import sys
sys.path.append('../pyorderedfuzzy')

In [2]:
import numpy as np
import pandas as pd
import ofclassifiers as ofcls
import ofnumber as ofn

In [3]:
df = pd.read_csv('../data/2D.csv', skiprows=1, sep=';', names=['X1','X2', 'Class'], decimal=',')
df['X0'] = np.ones(len(df))
df.head()

         X1        X2  Class   X0
0 -0.036819 -0.885263      0  1.0
1 -0.576998 -0.367745      1  1.0
2  0.397497 -0.418429      0  1.0
3 -0.288463  0.801790      1  1.0
4  0.829187 -0.350243      0  1.0

In [4]:
df['FX0']= df['X0'].apply(ofn.OFNumber.init_from_scalar)
df['FX1']= df['X1'].apply(ofn.OFNumber.init_from_scalar)
df['FX2']= df['X2'].apply(ofn.OFNumber.init_from_scalar)

In [5]:
df.head()

,X1,X2,Class,X0,FX0,FX1,FX2
0,-0.036819,-0.885263,0,1.0,"([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], [1. 1. 1....",([-0.03681906 -0.03681906 -0.03681906 -0.03681...,([-0.88526332 -0.88526332 -0.88526332 -0.88526...
1,-0.576998,-0.367745,1,1.0,"([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], [1. 1. 1....",([-0.57699767 -0.57699767 -0.57699767 -0.57699...,([-0.36774517 -0.36774517 -0.36774517 -0.36774...
2,0.397497,-0.418429,0,1.0,"([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], [1. 1. 1....",([0.39749724 0.39749724 0.39749724 0.39749724 ...,([-0.41842878 -0.41842878 -0.41842878 -0.41842...
3,-0.288463,0.801790,1,1.0,"([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], [1. 1. 1....",([-0.28846335 -0.28846335 -0.28846335 -0.28846...,([0.80179048 0.80179048 0.80179048 0.80179048 ...
4,0.829187,-0.350243,0,1.0,"([1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.], [1. 1. 1....",([0.82918696 0.82918696 0.82918696 0.82918696 ...,([-0.35024341 -0.35024341 -0.35024341 -0.35024...

In [6]:
X = df[['FX0','FX1','FX2']].values
d = df['Class'].values
print(X.shape, d.shape)

(500, 3) (500,)

In [7]:
perceptron = ofcls.OFPercepton()

In [8]:
perceptron.fit(X, d, eta=0.001, epoch=100)

Epoach: 1, Error: 332
Epoach: 2, Error: 296
Epoach: 3, Error: 255
Epoach: 4, Error: 214
Epoach: 5, Error: 186
Epoach: 6, Error: 166
Epoach: 7, Error: 42
Epoach: 8, Error: 11
Epoach: 9, Error: 3
Epoach: 10, Error: 2
Epoach: 11, Error: 2
Epoach: 12, Error: 3
Epoach: 13, Error: 2
Epoach: 14, Error: 4
Epoach: 15, Error: 10
Epoach: 16, Error: 10
Epoach: 17, Error: 9
Epoach: 18, Error: 9
Epoach: 19, Error: 2
Epoach: 20, Error: 2
Epoach: 21, Error: 0
Finish after 21 epochs, Error: 0

In [9]:
perceptron.weights.values

array([([0.01978758 0.01978758 0.01978758 0.01978758 0.01978758 0.01978758
 0.01978758 0.01978758 0.01978758 0.01978758 0.01978758], [0.01978758 0.01978758 0.01978758 0.01978758 0.01978758 0.01978758
 0.01978758 0.01978758 0.01978758 0.01978758 0.01978758]),
       ([-0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367
 -0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367], [-0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367
 -0.04918367 -0.04918367 -0.04918367 -0.04918367 -0.04918367]),
       ([0.02488069 0.02488069 0.02488069 0.02488069 0.02488069 0.02488069
 0.02488069 0.02488069 0.02488069 0.02488069 0.02488069], [0.02488069 0.02488069 0.02488069 0.02488069 0.02488069 0.02488069
 0.02488069 0.02488069 0.02488069 0.02488069 0.02488069])], dtype=object)

In [11]:
a = -perceptron.weights[0]/perceptron.weights[2]
b = -perceptron.weights[1]/perceptron.weights[2]
a, b

(([-0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872
  -0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872], [-0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872
  -0.79529872 -0.79529872 -0.79529872 -0.79529872 -0.79529872]),
 ([1.97678041 1.97678041 1.97678041 1.97678041 1.97678041 1.97678041
  1.97678041 1.97678041 1.97678041 1.97678041 1.97678041], [1.97678041 1.97678041 1.97678041 1.97678041 1.97678041 1.97678041
  1.97678041 1.97678041 1.97678041 1.97678041 1.97678041]))